.status-bar__title span {
  font-size: 40px;
  margin-left: 20px;
  color: red;
}
.main_bar {
  display: block;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.status-bar {
  display: flex;
  position: absolute;
  width: 100%;
  font-size: 1rem;

  background: linear-gradient(
    rgba(20, 20, 20, 1) 10%,
    rgba(20, 20, 20, 0.75) 25%,
    rgba(20, 20, 20, 0.5) 50%,
    rgba(20, 20, 20, 0.25) 75%,
    rgba(20, 20, 20, 0) 100%
  );
}
.first__menu {
  margin-left: 10px;
}
.status-bar__menu:first-child {
  width: 10%;
}
.status-bar__menu:nth-child(2) {
  width: 55%;
}
.status-bar__menu:last-child {
  width: 35%;
}
.status-bar__menu_tab {
  display: inline-block;
  list-style-type: none;
  padding: 0px 10px;
}
.status-bar__menu_tab a {
  text-decoration: none;
  color: aliceblue;
}
.status-bar__title span {
  margin-right: 5px;
  padding: 10px 10px;
}
.second__menu {
  display: flex;
  align-items: center; /*위아래 정렬*/
  justify-content: flex-end;
  padding-right: 40px;
}
.second__menu_ {
  margin-left: 10px;
}
.second__menu span {
  margin-right: 10px;
}
.main-image__src {
  width: 100%;
}
.status-bar__menu__kidprofile {
  background-color: red;
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 5px;
  color: whitesmoke;
}
.status-bar__menu__kidout {
  background-color: red;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  color: whitesmoke;
}
span {
  color: aliceblue;
}
.main_view {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 10em;
  margin-left: 2em;
}
.mainview {
  position: absolute;
  width: 35em;
  margin-bottom: 10em;
}
.mainview__title {
  height: 70%;
  width: 70%;
}
.mainview__info {
  height: 70%;
  width: 70%;
}
.mainview__title__img {
  margin-left: 10px;
  height: 100%;
  width: 100%;
}
.mainview__info__write {
  margin-right: 10px;
  color: aliceblue;
}
.mainview__btn_info {
  display: flex;
  padding-top: 15px;
}
.mainview__btn_info_play__btn {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding-right: 30px;
}
.mainview__btn_info_detail__btn {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding-right: 30px;
}
.mainview__btn_info_play__btn__start {
  list-style-type: none;
  color: black;
}
.main__img {
  z-index: -1;
}
.content-layer {
}
.layer__title {
  color: aliceblue;
}
